@model alharamApp.Models.allUser
@using alharamApp.Models

@{
    ViewBag.Title = "userAccountPage";
    Layout = "~/Views/Shared/_alharamLayout.cshtml";
}

@{
    string loggedIn = User.Identity.Name;

    alharamDBEntities dbAccess = new alharamDBEntities();

    allUser user = dbAccess.allUsers.FirstOrDefault(x => x.email == loggedIn);
}

<style>
    body {
        margin: 0;
        padding-top: 40px;
        color: #2e323c;
        position: relative;
        height: 100%;
    }

    .account-settings .user-profile {
        margin: 0 0 1rem 0;
        padding-bottom: 1rem;
        text-align: center;
    }

        .account-settings .user-profile .user-avatar {
            margin: 0 0 1rem 0;
        }

            .account-settings .user-profile .user-avatar img {
                width: 90px;
                height: 90px;
                -webkit-border-radius: 100px;
                -moz-border-radius: 100px;
                border-radius: 100px;
            }

        .account-settings .user-profile h5.user-name {
            margin: 0 0 0.5rem 0;
        }

        .account-settings .user-profile h6.user-email {
            margin: 0;
            font-size: 0.8rem;
            font-weight: 400;
            color: #9fa8b9;
        }

    .account-settings .about {
        margin: 2rem 0 0 0;
        text-align: center;
    }

        .account-settings .about h5 {
            margin: 0 0 15px 0;
            color: #007ae1;
        }

        .account-settings .about p {
            font-size: 0.825rem;
        }

    .form-control {
        border: 1px solid #cfd1d8;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        font-size: .825rem;
        background: #ffffff;
        color: #2e323c;
    }

    .card {
        background: #ffffff;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border: 0;
        margin-bottom: 1rem;

    }

    .form-group{
        text-align:left;
        color:dimgray
    }

</style>

<title>Your Guide to  Alharam | Account</title>

<main id="main">
    <div class="breadcrumbs" style="background-color:white">
        <div class="container">
            <div class="row">

                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <h4 class="mb-2" style="text-align:left;color:brown"><i style="color:white">._</i>Account Informations <i class="bi bi-person-circle" style="color:#4294ff"></i></h4>

                </div>

                @using (Html.BeginForm("updateAccount", "account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    
                    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                        <div class="card h-100">
                            <div class="card-body">
                                <div class="row">


                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="fName">First Name</label>
                                            <input type="text" class="form-control" id="fName" name="fName" placeholder="Enter Your First Name" value=@user.firstName required>
                                        </div>
                                    </div>


                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="lName">Last Name</label>
                                            <input type="text" class="form-control" id="lName" name="lName" placeholder="Enter Last Name" value=@user.lastName required>

                                            <br />
                                        </div>
                                    </div>


                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input type="text" class="form-control" id="email" name="email" placeholder="Enter Your Email" required value=@user.email>

                                        </div>
                                    </div>


                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="pass">Password</label>
                                            <input type="password" class="form-control" id="pass" name="pass" placeholder="Enter Your Password" required value="@user.password">

                                            <br />
                 
                  <span style="color:green;background-color:#fcfcfc" class="rounded-1">@TempData["Message"]</span>
                  <span style="background-color:#fcfcfc" class="rounded-1 text-danger">@TempData["PassLength"]</span>

                                        </div>
                                    </div>

                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div style="text-align:left">
                          <button type="reset" style="color:dimgray" button" id="cancel" name="cancel" class="btn btn-default">Cancel</button>


                          <button type="submit" id="update" name="update" class="btn btn-success">Update</button>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                }
            </div>
        </div>
    </div>

</main>