
@{
    ViewBag.Title = "about";
    Layout = "~/Views/Shared/_alharamLayout.cshtml";
}


<title>Your Guide to  Alharam | About</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>

    .breadcrumbs {
        color: #ffffff;
        background-color: #e9b55d
    }

    .bg-1 {
        background-color: #8ECFBD;
        color: #ffffff;
    }
    .bg-2 {
        background-color: #8ECFBD;
        color: #ffffff;
    }

    .bg-3 {
        background-color: #8ECFBD; 
        color: #ffffff;
    }
</style>

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
            <h2>About</h2>
            <p>
                This project developed by Eng.<b>Sarah Salameh</b>, and it is a field training project for the summer of 2022 under the supervision of <b>Eng.Ali Mohmaed Hamidaddin</b> at <b>King Fahd Medical City</b>.
            </p>
        </div>
    </div><!-- End Breadcrumbs -->


    <div class="bg-1">
        <div class="container text-center" data-aos="fade-up" >
            <h3 style="color:#3d4841">Who Am I ?</h3>
            <img src="~/imgProject/p4.jpeg" class="img-circle" width="150" height="150">
            <h4>I'm Eng.Sarah Salameh</h4>
        </div>
    </div>

    <div class="container-fluid bg-2 text-center" data-aos="fade-up">
        <h3 style="color:#3d4841">What Am I ?</h3>
        <h4>Bachelor's in Computer Science - ASP.NET Developer <br />Interested in future computing technologies</h4>

    </div>


    <div data-aos="fade-up">
        <div class="container-fluid bg-3 text-center">
            <h3 style="color:#3d4841">Where To Find Me?</h3>

            <div>

                <a href="https://twitter.com/24S_____"><img src="~/imgProject/twitter.png" class="img-circle" width="30" height="30"></a>

                <a href="https://www.linkedin.com/in/sarah-salameh-a63397231/"><img src="~/imgProject/linkdin.png" class="img-circle" width="30" height="30"></a>

                <h1></h1>
            </div>
        </div>
        </div>





</main><!-- End #main -->
