
@{
    ViewBag.Title = "emptyHotel";
    Layout = "~/Views/Shared/_alharamLayout.cshtml";
}

<title>Your Guide to  Alharam | Hotel</title>

<main id="main" data-aos="fade-in">
    <div class="breadcrumbs" style="background-color:white">
        <div class="container">

            <div id="courses" class="courses">
                <div class="container">
                    @using (Html.BeginForm("searchSomeHotel", "alharam", FormMethod.Post))
                    {
                        <input class="form-control" type="search" placeholder="Search Hotel" aria-label="Search" style="max-width:32%" name="searchHotel">}

                    <section id="courses" class="courses">
                        <div class="container" data-aos="fade-up">

                            <h5 style="color:lightslategray">No results were found matching your search</h5>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>

